<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable" />
		</Console>
		<File name="LogToFile" fileName="/var/log/reimb/app.log">
			<PatternLayout
				pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.reimbursement" level="debug"
			additivity="false">
			<AppenderRef ref="LogToFile" />
		</Logger>

		<Root level="debug">
		<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="LogToFile" />
		</Root>
	</Loggers>
</Configuration>